* {
  margin: 0px;
  font-family: sans-serif;
  font-size: 30px;
}


/* Body Header */

.App {
  height: 100vh;
  background-repeat: no-repeat;
  background-color: rgba(15, 68, 216, 0.897);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 1.2rem;
}

.inpt {
  display: flex;
  align-items: center;
  min-height: 1000vh;
  width: 1000vw;
  text-align: center;
  padding: 40px 10px;
}

.inp {
  position: relative;
  margin: auto;
  transform: translateY(-30px);
  padding: 50px 40px 100px 40px;
  border: 1px solid rgb(22, 26, 53);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 3px #b90e78;
  background-color: rgb(128, 119, 105);
}

table,
th,
td {
  border: 1px solid rgb(1, 1, 2);
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  text-align: center;
  
}

#result {
  position: relative;
  width: 100%;
  margin-top: 100px;
  transform: translateY(-30px);
  padding: 50px 40px 100px 40px;
  border: 1px solid rgb(54, 63, 124);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 3px #b90e78;
  background-color: rgb(173, 42, 97);
}
